* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
:root {
  --grey: #6e6d7a;
  --pink: #ea4c89;
  --lightPink: #f082ac;
  --silver: #f9f8fd;
  --hr: #e5e5e5;
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .content {
  height: inherit;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  width: 460px;
}
header ul {
  display: flex;
  justify-content: space-between;
}
header ul li {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--grey);
}
nav li a {
  color: inherit;
}
header a {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--grey);
}
button {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
}
#btnSignUp {
  height: 40px;
  width: 80px;
  background-color: var(--pink);
}
#btnSignUp:hover {
  background-color: var(--lightPink);
}
main {
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--silver);
}
main .content {
  height: inherit;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .col {
  height: 230px;
  width: 47%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}
main img {
  height: 360px;
  width: 500px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cat {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 3em 0 3em 0;
}
select {
  width: 115px;
  outline: none;
  border: 1px solid var(--grey);
  border-radius: 5px;
}
.cat .catRow {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catRow a {
  color: black;
}
#btnFilter {
  width: 92px;
  color: black;
  background-color: transparent;
  border: 1px solid var(--grey);
}
.designs {
  width: 90%;
  height: 2000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.designs .designsRow {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: space-between;
}
.designsRow .designsCol {
  height: inherit;
  width: 275px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.designsCol .img,
a {
  width: inherit;
  height: 207px;
  border-radius: inherit;
}
.designsCol .content {
  width: inherit;
}
#img1 {
  background: url(images/mnc_hike_kit8-net.jpg);
  background-size: cover;
}
#img2 {
  background: url(images/work_from_home-01_2x.jpg);
  background-size: cover;
}
#img3 {
  background: url(images/3_present_dribbble_4x.jpg);
  background-size: cover;
}
#img4 {
  background: url(images/artboard_16_2x.png);
  background-size: cover;
}
.signUp {
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 3em 3em;
}
.signUp .adobe {
  width: inherit;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adobe img {
  width: 155px;
  height: 56px;
}
.adobe p {
  width: 300px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
#btnFreeTrial {
  width: 94px;
  height: 40px;
  color: black;
}
#btnSignup {
  width: 250px;
  height: 40px;
  background-color: var(--pink);
  color: white;
}
.signUp a {
  color: var(--pink);
}
footer {
  height: 350px;
  width: 100%;
  border-top: 1px solid var(--hr);
}
